@mixin navgradient {
	background: linear-gradient(
		rgba($black, 0.6),
		shade-color($colour-primary, 10%)
	);
}

@mixin gradient {
	background: shade-color($colour-primary, 12%);
}

@mixin gradient-white {
	background: linear-gradient(90deg, rgba($white, 0.9), rgba($white, 0.8));
}

@mixin gradient-light {
	background: linear-gradient(
		180deg,
		rgba(getColour(accent), 0.9),
		rgba($white, 0.9)
	);
}
